

$primary-color: #fd7c00;
//$primary-text-color: #2c499f;
$primary-text-color: royalblue;
//$primary-font: 'Poppins', sans-serif;
$primary-font: 'Quicksand', sans-serif;
$secondary-color: #1C2331;

// Extra small
$extra-small-max-width: 575.99px;

// Small
$small-min-width: 576px;

$small-max-width: 767.99px;

// Medium
$medium-min-width: 769px;

$Medium-max-width: 991.99px;

// Large
$large-min-width: 992px;

$large-max-width: 1199.98px;

// Extra large
 $extra-large-min-width: 1200px;